<app-progreso-bar *ngIf="loading" ></app-progreso-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4" >
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">{{operacion}} Articulo</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addProducto()">
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese nombre">
                    <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                        El campo nombre es <strong>requerido</strong>
                    </span>
                    <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese descripción">
                    <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                        El campo descripcion es <strong>requerido</strong>
                    </span>
                    <input formControlName="precio" type="number" class="form-control mt-2" placeholder="Ingrese precio">
                    <span *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
                        El campo precio es <strong>requerido</strong>
                    </span>
                    <input formControlName="stock" type="number" class="form-control mt-2" placeholder="Ingrese stock">
                    <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">
                        El campo stock es <strong>requerido</strong>
                    </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-dark" fdprocessedid="714y98">Aceptar</button>
                        </div>
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-secondary" fdprocessedid="9wolt">Cancelar</button> 
                        </div>
                    </div>
                </form>
            </div>
          </div>        
    </div>
</div>


